label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

#title {
  text-align: center;
}

#log-in-form {
  width: 20%;
  margin: 1rem auto;
}

input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.inputDiv {
  margin-bottom: 0.7rem;
}

button {
  width: 100%;
  padding: 0.7rem;
  border: none;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.05rem;
}

#error, #email-error{
  margin-top: 0;
  font-size: 0.8rem;
  color: #f00;
  margin-bottom: 0.7rem;
  display: none;
}